:root{
    --bg-color: #2E3440;
    --text-color: #eceff4;
    --link: #8FBCBB;
    --link-hover: #A3BE8C;
    --link-hover-bg: #434C5E;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'JetBrains Mono', monospace;
    max-width: 1024px;
    margin: auto;
    display: inline-box;
}

.headfoot{
    text-align: center;
}

.headfoot a{
    display: inline-flex;
    color: var(--link);
}

.headfoot a:hover{
    color: var(--link-hover);
    background-color: var(--link-hover-bg);
}

#header{
    color:#EBCB8B;
    text-align: center;
}

.content{
    margin: 0 0.5%;
}

#weejio{
    display: flex;
    justify-content: center;
}
